@import "tailwindcss";

.letter {
  color: grey;
}

.letter.wrong {
  color: red;
}

.letter.right {
  color: black;
}

.curs {
  background-color: red;
  width: 1px;
  height: 20px;
}

.curs.adv {
  background-color: grey;
}

button {
  background-color: black;
  padding: 5px;
  color: white;
  border-radius: 5px;
}
button.disabled {
  background-color: grey;
}

button.disabled:hover {
  background-color: grey;
  cursor: auto;
}

button:hover {
  cursor: pointer;
  background-color: orange;
}
